In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
%matplotlib inline

In [15]:
df = pd.read_csv('homeprices.csv')

In [16]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [17]:
df['bedrooms'].median()

4.0

In [18]:
import math
bedrooms_median = math.floor(df['bedrooms'].median())

In [19]:
bedrooms_median

4

In [20]:
df.isna().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [21]:
df.bedrooms = df.bedrooms.fillna(bedrooms_median)

In [22]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [23]:
reg = linear_model.LinearRegression()

In [ ]:
reg.fit()